<!DOCTYPE html>
<html lang="en" style="padding: 10px;">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>同步包</title>

	<link rel="shortcut icon" href="../../common/img/favicon.ico">
	<link rel="stylesheet" type="text/css" href="../../common/css/reset.css">
	<link rel="stylesheet" href="../../common/plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../common/plugins/bootstrap-table/bootstrap-table.min.css">
	<link rel="stylesheet" href="../../common/plugins/element-ui/element-ui/lib/theme-default/index.css">
	<link rel="stylesheet" href="index.css">

	<script type="text/javascript" src="../../common/bin/super.common.min.js" ></script>
	<script src="../../common/plugins/highcharts/highcharts.js"></script>
	<script type="text/javascript" src="../../common/js/comm.js" ></script>
	<script type="text/javascript" src="../../common/js/session-check.js" ></script>
	<script type="text/javascript" src="../common/commHelper.js" ></script>


	<script>
        /**
         * 全局变量
         */
        var util = UBIT;
        var ME = {
            //访问路径
            baseUrl : '/',
            //请求的服务器地址
            host: UBIT.host,
            imgHost: UBIT.imgHost,
            iconPath: UBIT.iconPath,
            user: UBIT.user,
            api_token: UBIT.api_token,
            vm: null,
            master_slave:[],
			datas:[],
        };

	</script>

</head>
<body>
	
	<div id="app" v-cloak>


		<el-row>

			<!--<el-button type="primary"  size="small" @click="importRemoteAll" :loading="importRemoteAllDisable" v-if="showRemote">远程导入</el-button>-->
			<el-button type="danger" size="small"  @click="clearAll" :loading="clearAllDisable">清库</el-button>
			<el-button type="info" size="small"  @click="reloadPage" >刷新</el-button>


			<!--选择地图获取数据-->
			<template>
				<el-select v-model="currentMap" filterable placeholder="请选择地图" @change="reloadByMap()">
					<el-option
							v-for="item in maps"
							:key="item.cname"
							:label="item.cname"
							:value="currentProj+'_'+item.id"
					>
					</el-option>
				</el-select>
			</template>

			<label>开启测试</label>
			<el-switch
					v-model="debugBuf"
					on-text=""
					:disabled="sourceFlagDisable"
					@change="sourceFlagChange"
					off-text="">
			</el-switch>

			<el-button type="info" size="small"  @click="hideAllSeries" >隐藏</el-button>
		</el-row>

		<el-row>

			<el-col :span="24">
				<div id="syncContainer" style="min-width:800px;height:400px"></div>
			</el-col>

		</el-row>

		<el-row>
			<div id="syncStatisticstoolbar" >
				同步包统计报告
				<el-button type="info" size="small"  onclick="UBIT.bootstrapTableExportCsv('syncTable', true);">导出</el-button>
			</div>
			<el-col :span="24"><table id="syncStatisticsTable"></table></el-col>
		</el-row>

		<el-row>
			<div id="synctoolbar" >
				同步包
				<el-button type="info" size="small"  onclick="UBIT.bootstrapTableExportCsv('syncTable', true);">导出</el-button>
			</div>
			<el-col :span="24"><table id="syncTable"></table></el-col>
		</el-row>

	</div>
	<div id="mapSvg"></div>

<footer>
	<script type="text/javascript" src="../../common/js/raphael.js" ></script>
	<script type="text/javascript" src="../../common/js/raphael.pan-zoom.js"></script>
	<script type="text/javascript" src="../common/commHelper.js" ></script>
	<script type="text/javascript" src="../common/paperHelper.js?v=2.0" ></script>
	<script type="text/javascript" src="../statistics/common.js"></script>
	<script type="text/javascript" src="index.js"></script>

</footer>

</body>
</html>

