<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" style="padding: 10px;">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>~~title~~</title>

	<link rel="shortcut icon" href="../../common/img/favicon.ico">
	<link rel="stylesheet" type="text/css" href="../../common/css/reset.css">
	<link rel="stylesheet" href="../../common/plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../common/plugins/bootstrap-table/bootstrap-table.min.css">
	<link rel="stylesheet" href="../../common/plugins/element-ui/element-ui/lib/theme-default/index.css">
	<link rel="stylesheet" href="index.css">

	<script type="text/javascript" src="../../common/bin/super.common.min.js" ></script>

	<script type="text/javascript" src="../../common/js/comm.js" ></script>
	<script type="text/javascript" src="../../common/js/session-check.js" ></script>

	<script>
        /**
         * 全局变量
         */
        var ME = {
            //访问路径
            baseUrl : '/',
            //请求的服务器地址
            host: UBIT.host,
            imgHost: UBIT.imgHost,
            user: UBIT.user,
            api_token: UBIT.api_token,
            vm: null,
			pageType: 'project',
		};
		UBIT.initLang(['projAnchor','anchor']);

	</script>


</head>
<body>
	
	<div id="app" v-cloak>

		<div id="projTagtoolbar" >
			<el-button type="warning" size="small"  @click="updateAnchor" >~~update~~</el-button>
			<el-button type="warning" size="small"  @click="updateAnchorMore" >~~updateMore~~</el-button>

			<el-button type="primary" size="small" @click="syncAnchors" :loading="syncAllAnchorBtnDisable">批量同步</el-button>
			<el-button type="danger" size="small" @click="rebootAnchors" :loading="rebootBtnDisable">批量重启</el-button>

			<el-button type="info" size="small" onclick="UBIT.bootstrapTableExportCsv('anchorTable', true);">~~exports~~</el-button>
		</div>

		<table id="anchorTable"></table>

		<el-dialog :title="form.title" :visible.sync="dialogFormVisible" class="phone_b">
		    <el-form :model="form" :rules="modefiyPwdRule" ref="form" label-width="120px" class="demo-ruleForm">
					
					<el-form-item label="~~sourceId~~" prop="sourceId" v-show="form.action!=='updateMore'" >
			    		<el-input type="text" v-model="form.sourceId" :disabled="true" auto-complete="off"></el-input>
				  	</el-form-item>

			  		<el-form-item label="~~code~~" prop="code" v-show="form.action!=='updateMore'">
			    		<el-input type="text" v-model="form.code" :disabled="true"  auto-complete="off"></el-input>
				  	</el-form-item>


					<el-form-item label="mac" prop="mac" v-show="form.action!=='updateMore'" >
						<el-input type="text" v-model="form.mac"  :disabled="true"  auto-complete="off" class="mac_small"></el-input>
					</el-form-item>
				  	
				  	<el-form-item label="~~alias~~" prop="alias" v-show="form.action!=='updateMore'">
			    		<el-input type="text" v-model="form.alias" :maxLength="24" auto-complete="off"></el-input>
				  	</el-form-item>

				  	<el-form-item label="~~mapId~~" prop="mapId">
				  		<el-select v-model="form.mapId" filterable placeholder="~~select~~" @change="setMasterMac">
						    <el-option
						      v-for="item in maps"
						      :key="item.id"
						      :label="item.cname"
						      :value="item.id+''">
						    </el-option>
						</el-select>
				  	</el-form-item>

				  	<el-form-item label="~~color~~" prop="color">
			    		<el-input type="color" v-model="form.color" auto-complete="off" style="width: 100%;"></el-input>
				  	</el-form-item>

				  	<el-form-item label="~~sort~~" prop="sort" >
			    		<el-input-number v-model="form.sort" :step="1" :min="0"></el-input-number>
				  	</el-form-item>


				  	<el-form-item label="~~isMaster~~" prop="isMaster" v-show="pageType=='super'&&au">
			    		<el-radio-group v-model="form.isMaster">
				    		<el-radio label="1">是</el-radio>
	  						<el-radio label="0">否</el-radio>
	  					  </el-radio-group>
				  	</el-form-item>

					<el-form-item label="~~masterList~~" prop="masterList" v-if="form.isMaster==0" v-show="pageType=='super'&&au">
						<el-select v-model="form.masterList" multiple placeholder="~~select~~" filterable>
							<el-option
									v-for="item in aboutMapMaster"
									:key="item"
									:label="item"
									:value="item">
							</el-option>
						</el-select>
					</el-form-item>

				    <el-form-item label="~~min_num~~" prop="min_num" v-else v-show="au">
					     <el-input-number v-model="form.min_num" :step="1" :min="0"></el-input-number>
				    </el-form-item>

				  	<el-form-item label="~~cood~~" prop="xyz" class="cood" v-show="au">
			    		<el-input type="number" min='0' step="0.001" placeholder="x" v-model="form.x" auto-complete="off"></el-input>
						<el-input type="number" min='0' step="0.001" placeholder="y" v-model="form.y" auto-complete="off"></el-input>
						<el-input type="number" min='0' step="0.001" placeholder="z" v-model="form.z" auto-complete="off"></el-input>
				  	</el-form-item>

				  	<el-form-item label="~~lonlat~~" prop="lonlat" class="cool"v-show="au">
			    		<el-input type="number" step='0.00001' v-model="form.lon" placeholder="经度" auto-complete="off"></el-input>
						<el-input type="number" step='0.00001' v-model="form.lat" placeholder="纬度" auto-complete="off"></el-input>
				  	</el-form-item>

				  	<el-form-item label="~~status~~" prop="status" >
				  	 	<el-select v-model="form.status" placeholder="~~select~~" :disabled="true">
						    <el-option
						      v-for="item in status"
						      :key="item.code"
						      :label="item.cname"
						      :value="item.code">
						    </el-option>
						</el-select>
					</el-form-item>

					<el-form-item label="~~netType~~" prop="netType">
				  	 	<el-select v-model="form.netType" placeholder="~~select~~">
						    <el-option
						      v-for="item in netType"
						      :key="item.code"
						      :label="item.cname"
						      :value="item.code">
						    </el-option>
						</el-select>	
					</el-form-item>



				<el-form-item label="~~channel~~" prop="channel">
					<el-select v-model="form.channel" placeholder="~~select~~" filterable>
						<el-option
								v-for="item in channelType"
								:key="item.code"
								:label="item.cname"
								:value="item.code">
						</el-option>
					</el-select>
				</el-form-item>

				  	<!-- <el-form-item label="~~frameType~~" prop="frameType">
			    		<el-input type="text" v-model="form.frameType" auto-complete="off" ></el-input>
				  	</el-form-item> -->
				<el-form-item label="~~frameType~~" prop="frameType">
					<!--<el-radio-group v-model="form.frameType">-->
					<!--<el-radio label="standard">standard</el-radio>-->
					<!--<el-radio label="extend">extend</el-radio>-->
					<!--</el-radio-group>-->
					<el-select v-model="form.frameType" placeholder="~~select~~" filterable>
						<el-option
								v-for="item in frameTypeType"
								:key="item.code"
								:label="item.cname"
								:value="item.code">
						</el-option>
					</el-select>
				</el-form-item>

				  	<el-form-item label="crc" prop="crc">
			    		<el-input-number v-model="form.crc" :step="1" :min="0"></el-input-number>
				  	</el-form-item>

				<el-form-item label="~~dataRate~~" prop="dataRate" class="hei">
					<!--<el-input-number v-model="form.dataRate" :step="1" :min="0"></el-input-number>-->
					<el-select v-model="form.dataRate" placeholder="~~select~~" filterable>
						<el-option
								v-for="item in dataRateType"
								:key="item.code"
								:label="item.cname"
								:value="item.code">
						</el-option>
					</el-select>
				</el-form-item>

				<el-form-item label="~~pacSize~~" prop="pacSize" class="hei">
					<!--<el-input-number v-model="form.pacSize" :step="1" :min="0"></el-input-number>-->
					<el-select v-model="form.pacSize" placeholder="~~select~~" filterable>
						<el-option
								v-for="item in pacSizeType"
								:key="item.code"
								:label="item.cname"
								:value="item.code">
						</el-option>
					</el-select>
				</el-form-item>

				<el-form-item label="~~pulseFrequency~~" prop="pulseFrequency" class="hei">
					<!--<el-input-number v-model="form.pacSize" :step="1" :min="0"></el-input-number>-->
					<el-select v-model="form.pulseFrequency" placeholder="~~select~~" filterable>
						<el-option
								v-for="item in pulseFrequencyType"
								:key="item.code"
								:label="item.cname"
								:value="item.code">
						</el-option>
					</el-select>
				</el-form-item>


				<el-form-item label="~~preambleCode~~" prop="preambleCode" class="hei">
					<!--<el-input-number v-model="form.preambleCode" :step="1"  :min="0"></el-input-number>-->
					<el-select v-model="form.preambleCode" placeholder="~~select~~"  filterable>
						<el-option
								v-for="item in preambleCodeType"
								:key="item.code"
								:label="item.cname"
								:value="item.code">
						</el-option>
					</el-select>
				</el-form-item>


				<el-form-item label="~~preambleLength~~" prop="preambleLength" class="hei">
					<!--<el-input-number v-model="form.preambleLength" :step="1" :min="0"></el-input-number>-->
					<el-select v-model="form.preambleLength" placeholder="~~select~~" filterable>
						<el-option
								v-for="item in preambleLengthType"
								:key="item.code"
								:label="item.cname"
								:value="item.code">
						</el-option>
					</el-select>
				</el-form-item>

				<el-form-item label="smartPower" prop="smartPower">
					<!--<el-input-number v-model="form.smartPower" :step="1" :min="0"></el-input-number>-->
					<el-select v-model="form.smartPower" placeholder="~~select~~" filterable>
						<el-option
								v-for="item in smartPowerType"
								:key="item.code"
								:label="item.cname"
								:value="item.code">
						</el-option>
					</el-select>
				</el-form-item>


				<el-form-item label="frameCheck" prop="frameCheck">
					<el-select v-model="form.frameCheck" placeholder="~~select~~" filterable>
						<el-option
								v-for="item in frameCheckType"
								:key="item.code"
								:label="item.cname"
								:value="item.code">
						</el-option>
					</el-select>
				</el-form-item>


				<el-form-item label="~~rxDelaytxDelay~~" prop="rxDelaytxDelay" class="cooll">
					<el-input type="number" step='0.0001' v-model="form.rxDelay" placeholder="rx" auto-complete="off" :disabled="false"></el-input>
					<el-input type="number" step='0.0001' v-model="form.txDelay" placeholder="tx" auto-complete="off" :disabled="false"></el-input>
				</el-form-item>

				<el-form-item label="~~swVersion~~" prop="swVersion" v-show="form.action!=='updateMore'">
					<el-input type="text" v-model="form.swVersion" auto-complete="off"  :disabled="true"></el-input>
				</el-form-item>

				<el-form-item label="~~hwVersion~~" prop="hwVersion" v-show="form.action!=='updateMore'">
					<el-input type="text" v-model="form.hwVersion" auto-complete="off"  :disabled="true"></el-input>
				</el-form-item>

				<el-form-item label="~~kerVersion~~" prop="kerVersion" v-show="form.action!=='updateMore'">
					<el-input type="text" v-model="form.kerVersion" auto-complete="off"  :disabled="true"></el-input>
				</el-form-item>

				<el-form-item label="~~isShowCode~~" v-show="isShowCode" v-show="form.action!=='updateMore'">
					<el-input type="textarea" v-model="form.codes" readonly  :autosize="{ minRows: 2, maxRows: 4}"></el-input>
				</el-form-item>

				<div style="clear:both;text-align:center;" v-show="form.action=='update' || form.action=='updateMore'">
					<el-button type="warning" size="small" @click="updateAnchorDo" :loading="updateBtnDisable">~~update~~</el-button>
				</div>

			</el-form>

		</el-dialog>


	</div>


<footer>

	<script type="text/javascript" src="../anchor/common.js?v=2.2"></script>
	<script type="text/javascript" src="index.js?v=2.0"></script>

</footer>

</body>
</html>

