<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" style="padding: 10px;">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>~~menuConf~~</title>

	<link rel="shortcut icon" href="../../common/img/favicon.ico">
	<link rel="stylesheet" href="../../common/plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../common/plugins/bootstrap-table/bootstrap-table.min.css">
	<link rel="stylesheet" href="../../common/plugins/element-ui/element-ui/lib/theme-default/index.css">
	<link rel="stylesheet" type="text/css" href="../../common/css/reset.css">
	<link rel="stylesheet" href="index.css">

	<script type="text/javascript" src="../../common/bin/super.common.min.js" ></script>

	<script type="text/javascript" src="../../common/js/comm.js" ></script>
	<script type="text/javascript" src="../../common/js/session-check.js" ></script>


	<script>
        /**
         * 全局变量
         */
        var util = UBIT;
        var ME = {
            //访问路径
            baseUrl : '/',
            //请求的服务器地址
            host: UBIT.host,
            imgHost: UBIT.imgHost,
            iconPath: UBIT.iconPath,
            user: UBIT.user,
            api_token: UBIT.api_token,
            vm: null,
		};
		UBIT.initLang('menus');

	</script>

	<style type="text/css">
		  #menustoolbar a {
		  		text-decoration: none;list-style-type: none;
				color: #fff;
		  }
		 #menustoolbar  a:focus , #menustoolbar  a:hover{
		  	outline: none;
		  	color: #fff;
		  	text-decoration: none;
		  }

	</style>

</head>
<body>
	
	<div id="app" v-cloak>

		<div class="menu_one">
			<div id="menustoolbar" >
				<el-button type="info" size="small" @click="menusAdd">~~add~~</el-button>
				<el-button type="warning" size="small" @click="menusUpdate">~~update~~</el-button>
				<el-button type="danger" size="small"  @click="menusDelete" :loading="menusDeleteBtnDisable">~~delete~~</el-button>
				<el-button type="info" size="small" onclick="UBIT.bootstrapTableExportCsv('menustable', true);">~~exports~~</el-button>
			</div>


			<table id="menustable">

			</table>

			<el-dialog :title="form.title" :visible.sync="dialogFormVisible" class="phone_b">
				<el-form :model="form" :rules="modefiyPwdRule" ref="form" label-width="15%" class="demo-ruleForm">

					<el-form-item label="~~code~~" prop="code" >
						<el-input type="text" v-model="form.code" auto-complete="off"></el-input>
					</el-form-item>

					<el-form-item label="~~cname~~" prop="cname" >
						<el-input type="text" v-model="form.cname" auto-complete="off"></el-input>
					</el-form-item>

					<el-form-item label="~~fatherMenu~~" prop="fid" >
						<el-cascader
						:options="levelMenuOptions"
						v-model="menuFid"
						filterable
						clearable
						change-on-select
						size='medium'
						>
					  </el-cascader>
					</el-form-item>


					<el-form-item label="~~active~~" prop="isActive">
						<el-radio-group v-model="form.isActive">
							<el-radio label="1">~~true~~</el-radio>
							<el-radio label="0">~~false~~</el-radio>
						</el-radio-group>
					</el-form-item>

					<el-form-item label="~~path~~" prop="path" >
						<el-input type="text" v-model="form.path" auto-complete="off"></el-input>
					</el-form-item>

					<el-form-item label="~~icon~~" prop="iconCls" >
						<el-input type="text" v-model="form.iconCls" auto-complete="off"></el-input>
					</el-form-item>
					<el-form-item label="~~module~~" prop="module" >
						<el-select v-model="form.module" filterable placeholder="~~placeSelect~~">
							<el-option
								v-for="item in modules"
								:key="item.key"
								:label="item.label"
								:value="item.key">
							</el-option>
						</el-select>
					</el-form-item>
					<el-form-item label="~~sort~~" prop="sort" >
						<el-input type="text" v-model="form.sort" auto-complete="off"></el-input>
					</el-form-item>
					<el-form-item label="~~remark~~" prop="memo" >
						<el-input type="text" v-model="form.memo" auto-complete="off"></el-input>
					</el-form-item>

						<el-form-item>
							<el-button type="primary" @click="submitForm('form')" :loading="menusOneBtnDisable" size="small">~~submit~~</el-button>
						</el-form-item>
				</el-form>

			</el-dialog>
		</div>
	</div>

<footer>

	<script type="text/javascript" src="index.js"></script>

</footer>

</body>
</html>

