.el-form-item{
    margin-bottom: 10px;
    float: left;
    /* margin-right: 10px; */
    width: 50%;
}
.el-date-editor--datetimerange.el-input {
    width:100%;
}
.el-select {
    width: 100%;
}
.el-color-picker {
    width: 100%;
}
.el-color-picker__trigger {
    width: 100%;
}